<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body">

      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/img/happy-animals-farm-background.jpg"
               class="img-responsive center-block"
               style="max-height:600px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Kiril Nikiforov</h3>
        </div>
  
        <div class="text-center">Git Hub</div>
        <div class="text-center">
          <a href="http://github.com">www.github.com</a>
        </div>
      </div>
    </div>
  </div>